venv
node_modules
app.db
.vscode
__pycache__
chromedriver.exe
config.ini
temp_*.png
temp_images/*
true_images/*
*.xlsx
dump/*
avatars/*
*.ipynb
logs/
wrong.png
before_kill.png
beforedeath.png
cantfind.png
.env
screenshot.png